node_modules/
dist/
build/
.env
.DS_Store
.vscode/
android/app/release-keystore.jks
android/app/key.properties
*.jks
*.keystore


# Firebase
**/google-services.json
**/GoogleService-Info.plist

# macOS
.DS_Store

# Xcode
build/
DerivedData/

